<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>signup</title>
  </head>
  <body>
    <form role="form" method="post" action="/signUp">
      Username:<input type="text" id="username" name="username" maxlength="15"> <br/>
      Password:<input type="password" id="password" name="password" maxlength="15"> <br/>
      Nickname:<input type="text" id="nickname" name="nickname" maxlength="15"> <br/>
      <input type="submit" id="signup" value="Sign Up">
      <input type="submit" id="goBack" value="Go Back" formaction="/login">
    </form>
  </body>
</html>
