<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rank</title>
</head>
<body>
<p>Results:</p>
<form action="/gameList"><input type="submit" value="Go Back"></form>
<table id = "gametable">
    <tr>
        <th>Best Game</th>
        <th>AvgScore</th>
    </tr>
</table>
<table id = "pubtable">
    <tr>
        <th>Best Publisher (≥10 Games)</th>
        <th>AvgScore</th>
    </tr>
</table>
</body>
</html>

<script th:inline="javascript">
    var gameList = [[${gameList}]];
    var gameTable = document.getElementById("gametable");
    for (var i=0; i<gameList.length; i++){
        var tr = document.createElement('tr');
        for (var j=0; j<2; j++){
            var td = document.createElement('td');
            td.innerHTML = gameList[i][j];
            tr.appendChild(td);
        }
        gameTable.appendChild(tr);
    }
    var pubList = [[${pubList}]];
    var pubTable = document.getElementById("pubtable");
    for (i=0; i<gameList.length; i++){
        tr = document.createElement('tr');
        for (j=0; j<2; j++){
            td = document.createElement('td');
            td.innerHTML = pubList[i][j];
            tr.appendChild(td);
        }
        pubTable.appendChild(tr);
    }
</script>

<style>
    #gametable{
        border: 1px solid;
        margin: auto;
        width: 800px;
        float: left;
    }
    #pubtable{
        border: 1px solid;
        margin: auto;
        width: 800px;
        float: right;
    }
    th {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;}
    td {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;}
</style>