<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.pt1.mapper.RecommendMapper">
    <select id="getGenre" parameterType="int" resultType="com.example.pt1.bean.GenreCount">
        select Genre, count(Genre)
        from Genres natural join History
        where UserID = #{userid}
        group by Genre
        order by count(Genre) DESC
        limit 2
    </select>

    <select id="getGames" parameterType="string" resultType="com.example.pt1.bean.GameBean">
        select GameID, GameName, Platform, ReleaseDate, MetaScore, Publisher, MetacriticU, OfficialURL
        from Games natural join Genres
        where Genre = #{genre}
          and MetaScore>85
          and OfficialURL IS NOT NULL
        order by ReleaseDate DESC, MetaScore DESC
        limit 5
    </select>

    <select id="getRecommend" parameterType="int" resultType="string">
        call Mix(#{userid})
    </select>

    <insert id="addHistory">
        INSERT INTO History (UserID, GameName) VALUES (#{userid}, #{gamename})
    </insert>
</mapper>